.modal-backdrop {
    opacity: 0; /* Đặt độ mờ ban đầu */
    transition: opacity 0.3s ease; /* Hiệu ứng chuyển tiếp */
}

.modal.show .modal-backdrop {
    opacity: 0.5; /* Độ mờ khi modal hiển thị */
}
